* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 400%;
  text-align: center;
  color: white;
}

p {
  font-size: large;
  color: rgb(0, 0, 0);
}

body {
  margin: 0;
  min-height: 100vh;

  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;

  align-items: center;
}

button {
  border-radius: 15%;
}

.shrek-gif {
  width: 240px;
  height: auto;
  box-shadow: 0 0 120px 60px rgba(255, 255, 255, 0.6);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.magic-btn {
  position: absolute;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
}


.card {
  background-color: white;
  width: 500px;
  padding: 45px;
  border-radius: 12px;
}


.text-on-second-page{
  color: white;
}
.text-and-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.highlighted-link-text{
  color: rgb(255, 106, 106);
}